<!DOCTYPE html>
<html ng-app="indexApp">
<head>
<meta charset="utf-8">
<title>โปรแกรมชำระภาษีสุราโดยบาร์โค้ต</title>
<!-- Angular Material CSS now available via Google CDN; version 0.10 used here -->

<!-- DatePicker -->
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<link	rel="stylesheet"	href="libs/angular-material.min.css">
<!-- Angular Material Dependencies -->
<script src="libs/angular.min.js"></script>
<script src="libs/angular-animate.min.js"></script>
<script src="libs/angular-aria.min.js"></script>
<!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
<script src="libs/angular-material.min.js"></script>
<!-- UI router -->
<script src="libs/angular-ui-router.js"></script>

<!-- service -->
<script src="app-js/service-js/load-fromfile-service-js.js"></script>
<script src="app-js/service-js/soap-service-js.js"></script>
<script src="app-js/service-js/history-service-js.js"></script>


<!-- controller -->
<script src="app-js/controller-js/index-controller-js.js"></script>
<!-- template -->
<script src="template/controller/profile-view-controller.js"></script>
<script src="template/controller/order-view-controller.js"></script>
<script src="template/controller/updateprogram-view-controller.js"></script>
<script src="template/controller/history-view-controller.js"></script>
<script src="template/controller/hisDraft-view-controller.js"></script>


<!-- font icon -->
<link 	href="libs/google-icon.css" rel="stylesheet">
<link 	href="libs/ed-css.css"	rel="stylesheet">
	
	
</head>
<body ng-controller="AppCtrl">

	<!-- toolbar -->
	<md-toolbar class="header-toolbar">
	<div class="md-toolbar-tools">
		<md-button
			ng-click="toggleLeft()"
			
			aria-label="Settings"> <md-icon class="material-icons">menu</md-icon>เมนู
		</md-button>
		<img src="img/icons/logo.png" width="50" style="margin-left: 33%;cursor: pointer;" ng-click="gotoHome()">
		<h2>
			<span>โปรแกรมชำระภาษีสุราโดยบาโค้ต</span>
<!-- 			<span>{{toolbarTitle}}</span> -->
		</h2>
		<span style="margin-left: 20%;font-size: 12px;margin-top: 20px;">โปรแกรมเวอร์ชัน {{versionPrograme}}<br> ปรับปรุงข้อมูลล่าสุด {{updateProgramDate}}</span>
	</div>
	</md-toolbar> 
   <md-whiteframe class="md-whiteframe-z1 titleBarInfo" layout layout-align="start center">
	   <div style="width: 300px;">
	     <span>{{toolbarTitle}}</span>
	   </div>
	   <div style="margin-left: 58%;vertical-align: middle;display: table;height: 25px;">
	   		<span style="margin-right: 10px;">ผู้ใช้งาน</span><md-icon class="material-icons">account_circle</md-icon><span style="margin-left: 5px;">{{userLogin}}</span>
	   </div>
   </md-whiteframe>
   
	<!-- end toolbar -->
	<!-- 	menu -->
	<div
		layout="column"
		style="height: 600px;">
		<section
			layout="row"
			flex>
			<md-sidenav
				class="md-sidenav-left md-whiteframe-z2"
				md-component-id="left"> <md-toolbar
				class="md-theme-indigo">
			<div layout="row">
				<h1 class="md-toolbar-tools">เมนู</h1>
				 <md-button ng-click="toggleLeft()" class="md-primary">
		          <md-icon class="material-icons" style="color:white;">arrow_back</md-icon>
		        </md-button>
			</div>	
			
			</md-toolbar> <md-content layout-padding> <md-list> <md-subheader
				class="md-no-sticky">เมนูหลัก </md-subheader> <md-list-item
				ng-repeat="setting in settings"
				ng-click="navigateTo(setting, $event)"> <md-icon
				class="material-icons">{{setting.iconName}}</md-icon>
			<p>{{setting.label}}</p>
			<md-switch
				class="md-secondary"
				ng-model="setting.enabled"
				ng-show="false"></md-switch> </md-list-item> </md-list> </md-content> </md-sidenav>

			<md-content class="ui-view-content"
				flex
				layout-padding>

			<div
				layout="column"
				layout-fill
				layout-align="top center" ui-view>
				<p> loading.... body content</p>
			</div>

			<div flex></div>
			</md-content>
		</section>
	</div>
	<!-- 	end menu -->
</body>
</html>