<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans             http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.springframework.org/schema/context                         
http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	 
	 
<context:component-scan base-package="com.buckwa"/>	
	
	
	<bean class="org.springframework.ws.server.endpoint.mapping.PayloadRootAnnotationMethodEndpointMapping">
		<property name="interceptors">
			<list>
				<bean
					class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor" />
			</list>
		</property>
	</bean>
	
	<bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory" />
 
 
 
 
 	<!--  GetDataFromEAUTService -->
	<bean id="GetDataFromEAUTService" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">
		<property name="schema" ref="getDataFromEAUTSchema" />
		<property name="portTypeName" value="GetDataFromEAUTService" />	 
		<property name="locationUri"><value>${getDataFromEAUT.service}</value></property>
		<property name="targetNamespace" value="http://www.muangthai.co.th/xsd" />
	</bean>

	<bean id="getDataFromEAUTSchema" class="org.springframework.xml.xsd.SimpleXsdSchema">
		<property name="xsd" value="/WEB-INF/classes/com/buckwa/ws/getdatafromeaut/xsd/eautws_support.xsd" />
	</bean>	
 

 	<!--  GetNewUploadInfoService -->
	<bean id="GetNewUploadInfoService" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">
		<property name="schema" ref="getNewUploadInfoSchema" />
		<property name="portTypeName" value="GetNewUploadInfoService" />	 
		<property name="locationUri"><value>${getNewUploadInfo.service}</value></property> 
		<property name="targetNamespace" value="http://www.muangthai.co.th/xsd" />
	</bean>

	<bean id="getNewUploadInfoSchema" class="org.springframework.xml.xsd.SimpleXsdSchema">
		<property name="xsd" value="/WEB-INF/classes/com/buckwa/ws/getnewuploadinfo/xsd/getnewuploadinfo.xsd" />
	</bean>	
 
 	<!--  UpdateStatusService -->
	<bean id="UpdateStatusService" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">
		<property name="schema" ref="updateStatusSchema" />
		<property name="portTypeName" value="UpdateStatus" />	 
		<property name="locationUri"><value>${updateStatus.service}</value></property> 
		<property name="targetNamespace" value="http://www.muangthai.co.th/xsd" />
	</bean>

	<bean id="updateStatusSchema" class="org.springframework.xml.xsd.SimpleXsdSchema">
		<property name="xsd" value="/WEB-INF/classes/com/buckwa/ws/updatestatus/xsd/updatestatus.xsd" />
	</bean>	
	
	
	<bean class="org.springframework.ws.server.endpoint.adapter.GenericMarshallingMethodEndpointAdapter">
		<constructor-arg ref="marshaller" />
	</bean>

	<bean id="marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">		 
		<property name="packagesToScan">
	    	<list>	        		        		 
	        	<value>com.buckwa.ws.getdatafromeaut.oxm</value>	
	        	<value>com.buckwa.ws.getnewuploadinfo.oxm</value>	
	        	<value>com.buckwa.ws.updatestatus.oxm</value>
	   		 </list>
		</property>
	</bean>	 
	 
	 
	 
	 
	 
	 
	 

	<bean id="loggingInterceptor" class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor"/>
 
     
    
    
    
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:application.properties</value>
			</list>
		</property>
	</bean>	    
    
     <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">   
        <property name="driverClassName"><value>${jdbc.driver}</value></property>
		<property name="url"><value>${jdbc.url}</value></property>
		<property name="username"><value>${jdbc.user}</value></property>
		<property name="password"><value>${jdbc.password}</value></property>
        
    </bean>
   
   
	
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>	

	<!-- UAT & Production -->
	<!-- EAUT -->
<!-- 	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean"> -->
<!-- 		<property name="jndiName" value="jdbc/eautdb" /> -->
<!-- 	</bean> -->
<!-- 	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"> -->
<!-- 		<property name="dataSource" ref="dataSource" /> -->
<!-- 	</bean> -->
    
</beans>