<!DOCTYPE html>
<html ng-app="Pagetwo">
<head>
<meta charset="utf-8">
<title>ED Barcode</title>
<script src="lib/angular-1.3.15/angular.js"></script>
<script src="js/pagetwo.js"></script>
<script src="lib/jquery-1.11.2.js"></script>
<script src="lib/jquery.numeric.js"></script>
<link rel="stylesheet" href="lib/bootstrap-3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="css/pageonestyle.css">
<link rel="stylesheet"
	href="lib/bootstrap-3.3.4/css/bootstrap-theme.min.css">
<script src="lib/bootstrap-3.3.4/js/bootstrap.min.js"></script>

<style type="text/css">
	.number{
		text-align: right;
	}
</style>
</head>
<body ng-controller="pagetwoCtrl">
	<div class="container-fluid">

		<div class="panel panel-default">
			<div class="panel-body" align="center">
				<img src="img/step2.png" alt="step1">
			</div>
		</div>

		<!-- 		summary -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">รวมภาษีสุรา</h3>
			</div>
			<div class="panel-body" align="center">

				<!-- 					ตาราง -->
				<div align="center">
					<table class="table" style="width: 100%;">
						<tr>
							<td>(๖.๑) รวมภาษีสุราตามมูลค่า</td>
							<td class="number">
								{{displayNumber(sumTax1,2)}}
							</td>
							<td>บาท</td>
						</tr>
						<tr>
							<td>(๖.๒) รวมภาษีสุราตามปริมาณ</td>
							<td class="number">{{displayNumber(sumTax2,2)}}</td>
							<td>บาท</td>
						</tr>
						<tr>
							<td>(๗) รวมภาษีสุรา (๖.๑)+(๖.๒)</td>
								<td class="number">{{displayNumber(row7,2)}}</td>
							<td>บาท</td>
						</tr>
						<tr>
							<td>
								<table>
									<tr>
										<td>(๘) หัก ค่าภาษีสุรา</td>
										<td><input type="text" class="form-control"
											placeholder="จำนวน"></td>
									</tr>
								</table>
								<table style="width: 300px; margin-top: 5px;">
									<tr>
										<td>ที่ชำระไว้แล้วจาก</td>
										<td><input type="text" class="form-control"
											placeholder="เลขที่ใบเสร็จ"></td>
									</tr>
								</table>
							</td>
							<td style="vertical-align: bottom;" class="number">{{displayNumber(row8,2)}}</td>
							<td style="vertical-align: bottom;">บาท</td>
						</tr>
						<tr>
							<td>

								<table>
									<tr>
										<td>(๙) หัก คืนภาษีสุราตามหนังสือกรมฯ ที่</td>
										<td><input type="text" class="form-control"
											placeholder=""></td>
									</tr>
								</table>

							</td>
							<td class="number">{{displayNumber(row9,2)}}</td>
							<td>บาท</td>
						</tr>
						<tr>
							<td>(๑๐) คงเหลือภาษีสุรา</td>
							<td class="number">{{displayNumber(row10,2)}}</td>
							<td>บาท</td>
						</tr>
						<tr>
							<td>
								<table>
									<tr>
										<td>(๑๑) ภาษีเก็บเพิ่มเพื่อกระทรวงมหาดไทยร้อยละ</td>
										<td><input type="text" class="form-control" 	value="{{royalTax}}"></td>
									</tr>
								</table>

							</td>
							<td class="number">{{displayNumber(row11,2)}}</td>
							<td>บาท</td>
						</tr>
						<tr>
							<td>(๑๒) รวมภาษีที่ต้องชำระทั้งสิ้น (๑๐) + (๑๑)</td>
							<td class="number">{{displayNumber(row12,2)}}</td>
							<td>บาท</td>
						</tr>
						<tr>
							<td>(๑๓) อื่นๆ</td>
							<td class="number">{{displayNumber(row13,2)}}</td>
							<td>บาท</td>
						</tr>
						<tr>
							<td>(๑๔) รวม (๑๒) + (๑๓)</td>
							<td class="number">{{displayNumber(row14,2)}}</td>
							<td>บาท</td>
						</tr>
					</table>
				</div>
				<!-- 					ตาราง -->


			</div>
		</div>
		<!-- 		summary -->
		<div class="panel panel-info">
			<div class="panel-body">
				<div align="center">
					<button type="button" class="btn btn-default" ng-click="back()">
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
						ย้อนกลับ
					</button>
					<button type="button" class="btn btn-primary" ng-click="next()">
						<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
						ถัดไป
					</button>
				</div>
			</div>
		</div>

	</div>
</body>
</html>