<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

	<Properties>
		<Property name="log-path">logs</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{DEFAULT} %-5level %logger:%line - %msg%n%throwable" />
		</Console>
		<RollingFile name="RollingFile" fileName="${log-path}/barcode-report.log" filePattern="${log-path}/barcode-report-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%d{DEFAULT} %-5level %logger:%line - %msg%n%throwable" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console" />
		</Root>
		<Logger name="th.go.excise.edbarcode" level="debug" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
	</Loggers>

</Configuration>