<md-dialog aria-label="Mango (Fruit)">
<form>
	<md-toolbar class="dialogtitleBar">
	<div class="md-toolbar-tools">
		<span class="dialogheader">โรงงานสุรา</span>
		<span flex></span>
		<md-button
			class="md-icon-button"
			ng-click="answer('CanCel')"> <md-icon
			class="material-icons">close</md-icon> </md-button>
	</div>
	</md-toolbar>
	<md-dialog-content style="min-width:400px;max-height:810px; ">
	<div>
	
		<div class="CSSTableGenerator" >
		                <table >
		                    <tr>
		                        <td>
		                            
		                        </td>
		                        <td >
		                            	ชื่อโรงงานสุรา
		                        </td>
		                        <td>
		                            	ชื่อประเภทใบอนุญาต
		                        </td>
		                        <td>
		                            	เลขที่ใบอนุญาต
		                        </td>
		                        <td>
		                            	วันที่
		                        </td>
		                    </tr>
		                    
		                    <tr ng-repeat="fac in factoryList track by $index">
		                    	<td> 
		                    	
		                    		 <md-checkbox  ng-checked="getCheck(fac.factorys.LicenseNo)" ng-click="checkoneonly(fac.factorys.LicenseNo)" aria-label="Checkbox 1">
							        </md-checkbox>


						        </td>
					       		<td>{{fac.factorys.TaxpayerName}}</td>
						        <td>{{fac.factorys.LicenseName}}</td>
						        <td>{{fac.factorys.LicenseNo}}</td>
						        <td>{{fac.factorys.EffectiveDate + "-" + fac.factorys.ExpireDate}}</td>
						       
		                    </tr>
		                    
		                </table>
           		 </div>
	
				<div
					 layout="row"  layout-align="center center" >
			
					<md-button
						class="md-raised md-primary"
						ng-click="answer('OK')"> ตกลง </md-button>
				</div>
	
	
	
	</div>
	</md-dialog-content>
<!-- 	<div class="md-actions"		 layout="row"  layout-align="center center" > -->

<!-- 		<md-button -->
<!-- 			class="md-raised md-primary" -->
<!-- 			ng-click="answer('OK')"> ตกลง </md-button> -->
<!-- 	</div> -->
</form>
</md-dialog>