<md-whiteframe class="md-whiteframe-z0" layout layout-align="start start" style="min-height:568px;">


	<div layout="column" layout-align="start start" style="width: 100%;">
	
			<div layout="row" layout-align="start start" style="width: 100%;">
				<md-button class="md-raised md-primary" style="width:150px;" ng-click="removeItem($event)">ลบ </md-button>
			</div>
		
			<div class="CSSTableGenerator" style="height: 100%;">
		                <table style="width: 100%;">
		                    <tr>
		                        <td style="width: 2%;">
		                            	
		                        </td>
		                        <td>
		                            	ที่
		                        </td>
		                        <td>
		                            	ชื่อโรงงานสุรา
		                        </td>
		                        <td >
		                            	ใบอนุญาตเลขที่
		                        </td>
		                        <td>
		                            	วันที่ทำรายการ
		                        </td>
		                        <td>
		                            	ดูรายละเอียด
		                        </td>
		                    </tr>
		                    <tr ng-repeat="item in hisList | filter:profile track by $index">
		                        <td>
		                        	<md-checkbox aria-label="item.ischeck" ng-model="item.ischeck" style="width:20px"
			                    	 />
		                        </td>
		                        <td>
		                            	{{$index+1}}
		                        </td>
		                        <td>
		                            	{{item.taxpayerName}}
		                        </td>
		                        <td >
		                            	{{item.licenseNo}}
		                        </td>
		                        <td>
		                            	{{toStringDate(item.submitDate)}}
		                        </td>
		                        <td style="text-align: center;">
		                            	  <md-button class="md-raised" aria-label="More" ng-click="openHistory($index)" aria-label="More"> 
									         	<md-icon class="material-icons">open_in_new</md-icon>
									      </md-button>
		                        </td>
		                    </tr>
		                    
		                    
		                </table>
           		 </div>
      </div>  

</md-whiteframe>