<md-whiteframe class="md-whiteframe-z0" layout layout-align="center start" style="min-height:568px;">

<div  layout="column" layout-align="center center" style="width: 100%;">

		    <md-input-container class="md-icon-float" style="width:450px;">
		        <label class="input-has-value-label">ชื่อโรงงานสุรา</label>
		        <md-icon class="material-icons">account_balance</md-icon>
		    <input type="text"  ng-model="TaxpayerNameDes" readonly> </md-input-container>
	    
			<div class="CSSTableGenerator" style="width: 100%">
		              
		                <table style="width: 100%">
		                    <tr>
		                        <td>
		                            	ที่
		                        </td>
<!-- 		                        <td> -->
<!-- 		                            	ชื่อโรงงานสุรา -->
<!-- 		                        </td> -->
		                        <td >
		                            	ใบอนุญาตเลขที่
		                        </td>
		                        <td>
		                            	วันที่ทำรายการ
		                        </td>
		                        <td>
		                            	ประเภท
		                        </td>
		                        <td width="15%">
		                            	ดูรายละเอียด
		                        </td>
		                        <td width="15%">
		                            	พิมพ์ (PDF)
		                        </td>
		                    </tr>
		                    <tr ng-repeat="item in hisList | filter:profile track by $index">
		                        <td>
		                            	{{$index+1}}
		                        </td>
<!-- 		                        <td> -->
<!-- 		                            	{{item.taxpayerName}} -->
<!-- 		                        </td> -->
		                        <td >
		                            	{{item.licenseNo}}
		                        </td>
		                        <td>
		                            	{{toStringDate(item.submitDate)}}
		                        </td>
		                        <td >
		                            	{{item["submitType"]}}
		                        </td>
		                        <td style="text-align: center;">
		                            	  <md-button class="md-raised" aria-label="More" ng-click="openHistory(item.fileName,$index)" aria-label="More"> 
									         	<md-icon class="material-icons">open_in_new</md-icon>
									      </md-button>
		                        </td>
		                        <td style="text-align: center;">
									      <md-button class="md-raised quickMenu" style="margin-right:0" ng-click="openPdf(item.pdfName)"  aria-label="More">
										  	<div layout="column"  layout-align="center center">
											   	<img src="img/icons/filetype_pdf.png" style="width: 24px;" class="md-card-image" alt="Washed Out">
											</div>
										  </md-button>
		                        </td>
		                    </tr>
		                    
		                    
		                </table>
           		 </div>
    </div>        

</md-whiteframe>