<md-whiteframe class="md-whiteframe-z1" layout layout-align="top center" style="min-height:580px;">

			<div class="CSSTableGenerator" style="height: 100%;">
		                <table >
		                    <tr>
		                        <td>
		                            	ลำดับที่
		                        </td>
		                        <td>
		                            	ชื่อโรงงานสุรา
		                        </td>
		                        <td >
		                            	ใบอนุญาตเลขที่
		                        </td>
		                        <td>
		                            	วันที่ทำรายการ
		                        </td>
		                        <td>
		                            	ดูรายละเอียด
		                        </td>
		                    </tr>
		                    <tr>
		                        <td>
		                            	1
		                        </td>
		                        <td>
		                            	ชื่อโรงงานสุรา
		                        </td>
		                        <td >
		                            	ใบอนุญาตเลขที่
		                        </td>
		                        <td>
		                            	วันที่ทำรายการ
		                        </td>
		                        <td>
		                            	  <md-button class="md-icon-button" aria-label="More">
									         	<md-icon class="material-icons">open_in_new</md-icon>
									      </md-button>
		                        </td>
		                    </tr>
		                    
		                    
		                </table>
           		 </div>
            

</md-whiteframe>