<md-whiteframe class="md-whiteframe-z0" layout layout-align="top center" style="min-height:568px;">

			<div class="CSSTableGenerator" style="height: 100%;">
		                <table >
		                    <tr>
		                        <td>
		                            	ที่
		                        </td>
		                        <td>
		                            	ชื่อโรงงานสุรา
		                        </td>
		                        <td >
		                            	ใบอนุญาตเลขที่
		                        </td>
		                        <td>
		                            	วันที่ทำรายการ
		                        </td>
		                        <td>
		                            	ประเภท
		                        </td>
		                        <td>
		                            	ดูรายละเอียด
		                        </td>
		                        <td>
		                            	พิมพ์ (PDF)
		                        </td>
		                    </tr>
		                    <tr ng-repeat="item in hisList | filter:profile track by $index">
		                        <td>
		                            	{{$index+1}}
		                        </td>
		                        <td>
		                            	{{item.taxpayerName}}
		                        </td>
		                        <td >
		                            	{{item.licenseNo}}
		                        </td>
		                        <td>
		                            	{{toStringDate(item.submitDate)}}
		                        </td>
		                        <td >
		                            	{{item["submitType"]}}
		                        </td>
		                        <td style="text-align: center;">
		                            	  <md-button class="md-raised" aria-label="More" ng-click="openHistory(item.fileName)" aria-label="More"> 
									         	<md-icon class="material-icons">open_in_new</md-icon>
									      </md-button>
		                        </td>
		                        <td style="text-align: center;">
<!-- 		                            	  <md-button class="md-raised" aria-label="More" ng-click="openPdf(item.pdfName)"> -->
<!-- 									         	<img src="img/icons/filetype_pdf.png" width="24"> -->
<!-- 									      </md-button> -->
									      <md-button class="md-raised quickMenu" ng-click="openPdf(item.pdfName)"  aria-label="More">
										  	<div layout="column"  layout-align="center center">
											   	<img src="img/icons/filetype_pdf.png" style="width: 24px;" class="md-card-image" alt="Washed Out">
											</div>
										  </md-button>
		                        </td>
		                    </tr>
		                    
		                    
		                </table>
           		 </div>
            

</md-whiteframe>