<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<!-- <PatternLayout pattern="%d{DEFAULT} %-5level %logger{1}.%method():%line - %msg%n%throwable" /> -->
			<PatternLayout pattern="%d{DEFAULT} %-5level %logger{1} - %msg%n%throwable" />
		</Console>
		<File name="MyFile" fileName="all.log" immediateFlush="false" append="false">
			<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console" />
<!-- 			<AppenderRef ref="MyFile" /> -->
		</Root>
		<Logger name="th.go.excise.edbarcode" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
	</Loggers>
</Configuration>